<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Bebidas</title>
</head>
<body>
    <div class="container">
        <h1>Vinos</h1>
        <div class="productos vino">
            <div class="producto">
                <img src="imagenes/vino1.png" alt="Vino 1">
                <h3>Vino Tinto</h3>
                <p>$15.00</p>
            </div>
            <div class="producto">
                <img src="imagenes/vino2.png" alt="Vino 2">
                <h3>Vino Blanco</h3>
                <p>$18.00</p>
            </div>
            <div class="producto">
                <img src="imagenes/vino3.png" alt="Vino 3">
                <h3>Vino Rosado</h3>
                <p>$20.00</p>
            </div>
            <div class="producto">
                <img src="imagenes/vino4.png" alt="Vino 4">
                <h3>Vino Espumoso</h3>
                <p>$25.00</p>
            </div>
            <div class="producto">
                <img src="imagenes/vino5.png" alt="Vino 5">
                <h3>Vino Dulce</h3>
                <p>$22.00</p>
            </div>
            <div class="producto">
                <img src="imagenes/vino6.png" alt="Vino 6">
                <h3>Vino Seco</h3>
                <p>$30.00</p>
            </div>
        </div>

        <h1>Tragos</h1>
        <div class="productos trago">
            <div class="producto">
                <img src="imagenes/trago1.png" alt="Trago 1">
                <h3>Margarita</h3>
                <p>$15.00</p>
            </div>
            <div class="producto">
                <img src="imagenes/trago2.png" alt="Trago 2">
                <h3>Piña Colada</h3>
                <p>$22.00</p>
            </div>
            <div class="producto">
                <img src="imagenes/trago3.png" alt="Trago 3">
                <h3>Martini</h3>
                <p>$29.00</p>
            </div>
            <div class="producto">
                <img src="imagenes/trago4.png" alt="Trago 4">
                <h3>Gin Tonic</h3>
                <p>$19.00</p>
            </div>
            <div class="producto">
                <img src="imagenes/trago5.png" alt="Trago 5">
                <h3>Mojito</h3>
                <p>$18.00</p>
            </div>
            <div class="producto">
                <img src="imagenes/trago6.png" alt="Trago 6">
                <h3>Moscow Mule</h3>
                <p>$31.00</p>
            </div>
        </div>
    </div>
</body>
</html>


